body, html {
    background-image: url('/img/working.gif'), auto;
}

html, body, div {
    font-family: 'silkscreennormal';
}

.alert {
    text-align: center;
    font-size: 8vw;
    padding-top: 1%;
    padding-left: 10%;
    padding-right: 10%;
    color: #b9f2ff;
}

.back a {
    color: #ad6d48;
    cursor: pointer;
}

.back:hover {
    color: gold;
}

img {
    width: 60%;
    height: 60%;
}
