body {
    font-family: 'silkscreennormal';
    background: white !important;
}

div {
    text-align: center;
}

img {
    max-width: 2600px;
}

.navbar {
    font-size: 9vw;
    color: #b9f2ff;
    line-height: 80%;
    text-align: center;
    padding: 1em;

}

.navbar:hover {
    color: gold;
    cursor: pointer;
}

.footer {
    font-size: 4vw;
    color: #b9f2ff;
    text-align: center;
    padding: 10px;
}

.footer:hover {
    color: gold;
    cursor: pointer;
}
