body {
    font-family: 'silkscreennormal';
    background: white !important;
}

div {
    text-align: center;
}

img {
    max-width: 2600px;
}

.navbar {
    font-size: 10vw;
    color: #b9f2ff;
    line-height: 80%;
    text-align: center;
    padding: 3%;

}

.navbar:hover {
    color: gold;
    cursor: pointer;
}

.footer {
    font-size: 8vw;
    color: #b9f2ff;
    text-align: center;
    padding-top: 16%;
}

.footer:hover {
    color: gold;
    cursor: pointer;
}
