body {
    font-family: 'Courier New', Courier, monospace;
    overflow: hidden;
    margin: 0;
    height: 100%;
}

.nav-container {
    position: fixed;
    left:50%;
    top:95%;
    transform: translate(-50%, -95%);
    text-align: center;
}

ul {
    padding: 15px;
    border: solid 1px #00000046;    
    background: #000;
    border-radius: 5%;
}

li {
    display: inline-block;
    /* /*margin: 25px; */
}

li:hover {
    background-color: #00000046;
}

a {
    text-decoration: none;
    color: #f0f0f0;
    font-weight: 500;
    font-size: 24px;    
    padding: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

a:hover {
    text-decoration: line-through;
}

.vid-background {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.vid-background iframe,
.vid-background embed,
.vid-background object {
    width: 40vw;
    height: 40vh;
    z-index: 10;
}

.banner {
    opacity: 50%;
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

.banner img {
    width: 100%;
}

@media only screen and (max-width: 768px) {

    body {
        background-color: #c0c0c0;
    }

    .vid-background iframe,
    .vid-background embed,
    .vid-background object {
        width: 57vw;
        height: 17vh;
        z-index: 10;
    }    

    .vid-background {
        top: 35%;
    }

    .banner {
        top: 0%;
        left: 50%;
        transform: translate(-50%, 0%);
    }

    #banner-img {
        width: 100%;
        height: auto;
    }

    .nav-container {
        top: 55%;
    }

    ul {
        padding: 5px;
    }

    li {
        margin-top: 5px;
        margin-bottom: 8px;
    }

    a {
        font-size: 18px;
        padding: 35px;
    }
  }
